{include file="common/header"}

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6" style="width:100%;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加产品属性&nbsp;&nbsp;<a href="javascript:history.back(-1)" class="btn btn-xs btn-success">返回</a></h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm">

                            <input type="hidden" name="pro_id" value="{$proid}">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">属性类型：</label>
                                <div class="col-sm-8">
                                    {$html|raw}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">属性名称：</label>
                                <div class="col-sm-8" id="_param_name">
                                    <input type="text" name="param_name[]" value="" class="form-control" maxlength="50"><br>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <a href="javascript:void(0);" class="btn btn-success" id="_add">添加属性类型</a>
                                    <a href="javascript:void(0);" class="btn btn-danger" id="_chanel">删除属性类型</a>
                                    <button class="btn btn-primary" id="uploadSubmit" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- 全局js -->
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="/static/admin/js/content.js?v=1.0.0"></script>
    <script src="/static/admin/js/plugins/layer/layer.min.js"></script>

</body>

</html>
<script type="text/javascript">
    // 添加所属类型
    $("#_add").click(function(){
        var html = '<input type="text" name="param_name[]" class="form-control" maxlength="50"><br>';
        $("#_param_name").append(html);
    });
    // 取消所属类型
    $("#_chanel").click(function(){
        $("#_param_name input").eq(-1).remove();
    });

    // ajax提交
    $("#uploadSubmit").click(function(){

        var data = new FormData($("#signupForm")[0]);

        $.ajax({
            url: "{:url('product/buffadd')}",
            type: "POST",
            data: data,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon:1, time:1500}, function(){
                        window.history.go(-1);
                    });
                } else {
                    layer.msg(data.msg, {icon:5, time:1500});
                }
            }
        });
        return false;
    });

</script>