{include file="common/header"}
<!-- Sweet Alert -->
<link href="/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-desktop"></i> 企业体系 ---<small>渠道列表</small>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.back(-1)" class="btn btn-xs btn-success">返回</a></h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>所属渠道</th>
                                    <th>c_pond</th>
                                    <th>b_pond</th>
                                    <th>a_pond</th>
                                    <th>p_pond</th>
                                    <th>h_pond</th>
                                    <th>t_pond</th>
                                    <th>k_pond</th>
                                    <th>s_pond</th>
                                    <th>z_pond</th>
                                    <th>g_pond</th>
                                    <th>r_pond</th>
                                    <th>n_pond</th>
                                    <th>T池手动数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                    <tr>
                                        <td>{$vo.retail_id}</td>
                                        <td>{$vo.channel_name}</td>
                                        <td>{$vo.c_pond}</td>
                                        <td>{$vo.b_pond}</td>
                                        <td>{$vo.a_pond}</td>
                                        <td>{$vo.p_pond}</td>
                                        <td>{$vo.h_pond}</td>
                                        <td>{$vo.t_pond}</td>
                                        <td>{$vo.k_pond}</td>
                                        <td>{$vo.s_pond}</td>
                                        <td>{$vo.z_pond}</td>
                                        <td>{$vo.g_pond}</td>
                                        <td>{$vo.r_pond}</td>
                                        <td>{$vo.n_pond}</td>
                                        <td>{$vo.hand_num}</td>
                                        <td>
                                            <a onclick="editLayer('{:url('channel/editRetail', ['id'=>$vo.retail_id])}','更改分销商')" class="btn btn-warning btn-xs btn-outline">编辑</a>
                                        </td>
                                    </tr>
                                {/volist}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>序号</th>
                                    <th>所属渠道</th>
                                    <th>c_pond</th>
                                    <th>b_pond</th>
                                    <th>a_pond</th>
                                    <th>p_pond</th>
                                    <th>h_pond</th>
                                    <th>t_pond</th>
                                    <th>k_pond</th>
                                    <th>s_pond</th>
                                    <th>z_pond</th>
                                    <th>g_pond</th>
                                    <th>r_pond</th>
                                    <th>n_pond</th>
                                    <th>T池手动数</th>
                                    <th>操作</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <input id="handle_add" value="" hidden="hidden">
        <input id="handle_edit" value="" hidden="hidden">
    </div>

    <!-- 全局js -->
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="/static/admin/js/content.js?v=1.0.0"></script>
    <!-- Sweet alert -->
    <script src="/static/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- AJAX -->
    <script src="/static/admin/function/menu.js"></script>
    <script src="/static/admin/js/plugins/layer/layer.min.js"></script>

</body>
<script type="text/javascript">
</script>
</html>